@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  height: 100vh;
  background: linear-gradient(122.76deg, #3550dc -35.72%, #27e9f7 172.73%);
  @apply pb-10 ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container_wrapp {
  @apply max-w-[1200px] w-full mx-auto;
}

.container {
  @apply w-full text-center mx-auto;
}

.btn:disabled {
  background-color: #00000024;
  color: #0000008c;
  border-color: #00000024;
  &:hover {
    background-color: #00000024;
    color: #0000008c;
    border-color: #00000024;
  }
}

.passed {
  @apply bg-sky-400 after:bg-sky-400 text-white #{!important};
}
.active {
  @apply bg-blue-500 text-white after:bg-blue-800 #{!important};
}

.render-enter {
  opacity: 0;
  transform: scale(0.9);
  transform: translateY(190px);
}
.render-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}
.render-exit {
  opacity: 1;
}
.render-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transform: translateY(190px);

  transition: opacity 400ms, transform 400ms;
}

.true {
  @apply bg-green-600 text-white;
}
.false {
  @apply bg-red-500 text-white;
}
.selected {
  @apply border-blue-700 border-4 hover:border-blue-700;
}

.ask-enter {
  opacity: 0;
  transform: scale(1.1);
}

.ask-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.ask-exit {
  visibility: hidden;
  opacity: 1;
  transform: scale(1);
}

.ask-exit-active {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
